.text-color {
    color: rgb(86, 59, 37);
}

.font-s {
    font-size: 14px;
}

.font-m {
    font-size: 18px;
}

.font-l {
    font-size: 32px;
}

.font-xl {
    font-size: 48px;
}

.thiC {
    padding: 64px 0;
    position: relative;
    background: linear-gradient(to bottom right, rgb(255, 230, 148) , rgb(252, 179, 33));

    &_container {
        position: relative;
        width: 99vw;
        margin: auto;
        overflow-x: hidden;
    }

    &_title {
        text-align: center;
        font-weight: 600;
        margin-bottom: 24px;
        letter-spacing: 2px;
        line-height: 1.25;
        @extend .font-xl;
        @extend .text-color;
    }

    &_image {
        width: 100%;
        height: 400px;
        margin-bottom: 40px;
    }

    &_subtitle {
        text-align: center;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 16px;
        @extend .font-xl;
        @extend .text-color;
    }

    &_subDescription {
        text-align: center;
        @extend .text-color;
    }

    &_ImageContainer {
        position: relative;
        right: 6px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgb(247, 148, 91);
        min-height: 480px;
        width: 53vw;
        padding-right: 24px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        z-index: 15;

        &Back {
            position: absolute;
            top: 28px;
            left: -13px;
            width: 53vw;
            min-height: 470px;
            background-color: rgb(97, 47, 19);
            box-shadow: 2px 2px 22px 2px rgb(97, 47, 19);
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            z-index: 12;
        }
    }

    &_Image {
        top: 21px;
        right: 25px;
        border-radius: 28px;
    }

    &_TextContainer {
        display: flex;
        margin-right: -4px;
        align-items: center;
        background-color: #fff;
        min-height: 560px;
        width: 64vw;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }

    &_TextBox {
        width: 60%;
        padding-left: 40px;

        &Right {
            position: relative;
            display: flex;
            justify-content: flex-end;
            z-index: 11;
            bottom: 84px;
        }
    }

    &_textTitle {
        font-size: 32px;
        font-weight: 600;
        color: rgb(37, 35, 35);
        margin-bottom: 32px;
        letter-spacing: 1px;
    }

    &_description {
        line-height: 1.8;
        font-size: 16px;
    }

    &_contents {
        position: relative;
        overflow-x: hidden;
        padding: 24px 0 0;
        width: 100%;
    }

    &_support {
        position: absolute;
        font-size: 136px;
        font-weight: 600;
        top: 230px;
        right: 60px;
        letter-spacing: 4px;
        color: rgb(255, 230, 215);
    }

    &_function {
        position: absolute;
        font-size: 136px;
        font-weight: 600;
        letter-spacing: 4px;
        color: rgb(255, 230, 215);
        bottom: 196px;
        left: 48px;
    }

    &_next {
        position: absolute;
        bottom: 84px;
        right: 142px;
        width: 0px;
        height: 40px;
        background-color: rgb(250, 202, 104);
        color: #fff;
        transition: all 0.2s;
        letter-spacing: 2px;
        border-radius: 24px;

        &:hover {
            background-color: rgb(250, 190, 70);
            transform: scale(1.05);
        }
    }

    &_page {
        position: absolute;
        bottom: 92px;
        right: 500px;
        display: flex;
        justify-content: center;

        &Circle {
            padding: 0;
            width: 8px;
            height: 8px;
            background-color: rgb(199, 199, 199);
            margin-right: 24px;
            border-radius: 50%;
        }
    }
}