.text-color {
    color: rgb(48, 48, 48);
}

.font-s {
    font-size: 14px;
}

.font-m {
    font-size: 18px;
}

.font-l {
    font-size: 32px;
}

.font-xl {
    font-size: 48px;
}

.forC {
    padding: 64px 0;
    background-color: rgb(240, 240, 240);

    &_container {
        width: 96%;
        max-width: 960px;
        margin: auto;
    }

    &_title {
        text-align: center;
        font-weight: 600;
        margin-bottom: 64px;
        letter-spacing: 1px;
        @extend .font-xl;
        @extend .text-color;
    }

    &_image {
        width: 100%;
        height: 400px;
        margin-bottom: 40px;
    }

    &_subtitle {
        text-align: center;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 16px;
        @extend .font-l;
        @extend .text-color;
    }

    &_subDescription {
        text-align: center;
        @extend .text-color;
    }
}