.text-color {
    color: rgb(243, 235, 235);
}

.font-s {
    font-size: 14px;
}

.font-m {
    font-size: 18px;
}

.font-l {
    font-size: 20px;
}

.font-xl {
    font-size: 48px;
}

.firC {
    background-color: rgb(240, 119, 49);
    min-height: calc(100vh - 72px);
    padding-top: 120px;
    
    &_container {
        max-width: 960px;
        width: 96%;
        margin: auto;
        padding: calc(50vh - 300px) 0 72px;
        position: relative;
    }

    &_title {
        display: flex;
        font-weight: 600;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 48px;
        letter-spacing: 1px;
        @extend .text-color;
        @extend .font-xl;
        position: relative;
        z-index: 5;
    }

    &_description {
        @extend .text-color;
        @extend .font-l;
        margin-bottom: 24px;
        position: relative;
        z-index: 5;
    }

    &_start {
        display: block;
        width: 144px;
        margin: auto;
        padding: 12px 16px;
        text-align: center;
        background-color: rgb(24, 10, 1);
        text-decoration: none;
        border-radius: 4px;
        @extend .text-color;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.9;
        }
    }

    &_vocabularyBox {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
    }

    &_vocabulary {
        z-index: 3;
    }

    &_vocabulary_shadow {
        position: absolute;
        top: 8px;
        left: 37.8%;
        z-index: 2;
    }

    &_circle0 {
        width: 340px;
        height: 340px;
        border-radius: 50%;
        background-color: rgb(167, 231, 124);
        position: absolute;
        top: -93px;
        left: 313px;
    }

    &_circle1 {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-color: rgb(245, 158, 40);
        position: absolute;
        top: 270px;
        left: -32px;
        z-index: 2;
    }

    &_circle1 {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-color: rgb(245, 158, 40);
        position: absolute;
        top: 270px;
        left: -32px;
        z-index: 2;
    }

    &_circle2 {
        width: 440px;
        height: 440px;
        border-radius: 50%;
        background-color: rgb(211, 207, 174);
        position: absolute;
        top: 540px;
        right: 50px;
    }

    &_circle3 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: rgb(136, 196, 217);
        position: absolute;
        top: 40px;
        right: -70px;
    }

    &_circle4 {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-color: rgb(211, 151, 243);
        position: absolute;
        top: 0;
        left: 0;
    }

    &_sideCircle4 {
        position: absolute;
        transform: rotate(-20deg);
        top: -20px;
        left: -111px;
    }

    &_sideCircle0 {
        position: absolute;
        transform: rotate(-45deg);
        top: -22px;
        left: 184px;
    }

    &_sideCircle0_2 {
        position: absolute;
        transform: rotate(45deg);
        top: -22px;
        left: 184px;
    }
}