.text-color {
    color: rgb(48, 48, 48);
}

.font-s {
    font-size: 14px;
}

.font-m {
    font-size: 18px;
}

.font-l {
    font-size: 20px;
}

.font-xl {
    font-size: 48px;
}

.free {
    width: calc(100vw - 248px);
    padding: 40px 24px;
    background-color: rgb(247, 242, 242);
}