.text-color {
    color: rgb(48, 48, 48);
}

.font-s {
    font-size: 14px;
}

.font-m {
    font-size: 18px;
}

.font-l {
    font-size: 20px;
}

.font-xl {
    font-size: 48px;
}

.free {
    &_firstContents {
        margin-bottom: 40px;
    }

    &_testTitle {
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 16px;
        @extend .font-l;
        @extend .text-color;
    }

    &_questionDisplay {
        position: relative;
        padding: 24px 32px;
        margin-bottom: 32px;
        
        &Container {
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }    

    &_questionWord {
        padding-bottom: 36px;
        font-size: 78px;
        letter-spacing: 1px;
        user-select: none;
        @extend .text-color;
    }

    &_answerInput {
        padding: 24px 32px;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
    }

    &_answerButtons {
        display: flex;
        justify-content: center;
        margin-top: 24px;

        &Icon {
            font-size: 40px;
        }
    }

    &_answerButton, &_passButton {
        display: block;
        width: 180px;
        background-color: rgb(240, 119, 49);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(248, 135, 69);
        }
    }

    &_passButton {
        margin-left: 8px;
        background-color: rgb(60, 123, 239);
        
        &:hover {
            background-color: rgb(60, 139, 255);
        }

        &:disabled {
            background-color: rgb(218, 206, 200);
        }
    }


}